apiserver_count = "{{ kraken.apiserver_count }}"
node_count = "{{ kraken.node_count }}"
cluster_name = "{{ kraken.local_cluster_name }}"
apiserver_ip_address = "{{ kraken.apiserver_ip_address }}"
ip_base = "{{ kraken.ip_base }}"
